<section class="block-7" id="contacts">
    <div class="container">
        <h2 class="headline">Контакты</h2>
        <div class="contacts-flex">
            <div class="left">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A80a81694d6b41147112d69c6c7ed908b7803ee1731e45157701711df06f872ea&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
            </div>
            <div class="right">
                <p class="home">Офис: г. Челябинск, ул. Кирова, д. 4, оф. 102</p>
                <p class="geo">Производственная база: Челябинская обл., г. Коркино, пер. Блюхера, д.2</p>
                <p class="mail">saturn74_chel@mail.ru</p>
                <p class="phone">+7 (904) 978-60-94 <br> +7 (351) 233-61-58</p>
                <p class="forward">Обратная связь</p>
            </div>
        </div>
    </div>
</section>