<footer class="main-footer">
    <div class="footer-left">
        <p>ОГРН 324234234</p>
        <p>ИНН 234234234</p>
        <p>КПП 86767676</p>
    </div>
    <div class="footer-centre">
        <a href="#">Технические характеристики полимера</a>
        <a href="#questions">Часто задаваемые вопросы</a>
        <a href="#avantages">Преимущества</a>
        <a href="#">Защитные крема</a>
        <a href="#">Изготовление деталей на заказ</a>
    </div>
    <div class="footer-right">
        <p>Выполненные работы:</p>
        <a href="#">Горнодобывающая промышленность</a>
        <a href="#">Нефтедобыча и нефтепереработка</a>
        <a href="#">Энергетическая промышленность</a>
        <a href="#">Автотранспорт и спецтехника</a>
    </div>
</footer>