<header>
    <div class="head-flex">
        <p class="mobile-logo">Сатурн</p>
        <a href="/">
            <div class="logo">
                <img src="/img/logo.png" alt="">
            </div>
        </a>
        <nav>
            <div id="menu-toggle">
                <div id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="nav">
                <li>
                    <a class="nav-items" href="#">Области применения</a>
                    <ul>
                        <li><a href="/case_category.html">Горнодобывающая промышленность</a></li>
                        <li><a href="/case_category.html">Нефтедобывающая промышленность</a></li>
                        <li><a href="/case_category.html">Энергетическая промышленность</a></li>
                        <li><a href="/case_category.html">Автотранспорт и спецтехника</a></li>
                    </ul>
                </li>
                <li><a class="nav-items" href="#avantages">Преемущества</a></li>
                <li><a class="nav-items" href="#questions">Частые вопросы</a></li>
                <li><a class="nav-items" href="#contacts">Контакты</a></li>
                <li>
                    <a class="nav-items" href="#">Продукция</a>
                    <ul>
                        <li><a href="/product.html">Крема</a></li>
                        <li><a href="/product.html">Название страницы</a></li>
                        <li><a href="/product.html">Название страницы</a></li>
                    </ul>
                </li>
                <li><a data-fancybox data-src="#hidden-content-a" href="#"  class="nav-items">+7 (982) 305-02-16 <br>Бесплатная консультация</a></li>
            </ul>
        </nav>
    </div>
</header>