<div class="smart-wrap" style="display: none;" id="hidden-content-a">
    <div class="smart-forms smart-container wrap-3">

        <div class="form-header header-primary">
            <h4><i class="fa fa-comments"></i>Свяжитесь с нами</h4>
            <p>Хотите получить бесплатную консультацию специалиста по ремонту или сделать предварительный расчет стоимости работ? Воспользуйтесь этой универсальной формой обратной связи.</p>
        </div><!-- end .form-header section -->

        <form method="post" action="/" id="contact3">
            <div class="form-body">

                <div class="section">
                    <label class="field prepend-icon">
                        <input type="text" name="name" id="name" class="gui-input" placeholder="ФИО">
                        <span class="field-icon"><i class="fa fa-user"></i></span>
                    </label>
                </div><!-- end section -->

                <div class="section">
                    <label class="field prepend-icon">
                        <input type="text" name="tel" id="tel" class="gui-input" placeholder="Телефон">
                        <span class="field-icon"><i class="fa fa-user"></i></span>
                    </label>
                </div><!-- end section -->

                <div class="section">
                    <label class="field prepend-icon">
                        <input type="email" name="company" id="company" class="gui-input" placeholder="Организация">
                        <span class="field-icon"><i class="fa fa-envelope"></i></span>
                    </label>
                </div><!-- end section -->

                <div class="section">
                    <label class="field prepend-icon">
                        <input type="text" name="email" id="email" class="gui-input" placeholder="Email">
                        <span class="field-icon"><i class="fa fa-lightbulb-o"></i></span>
                    </label>
                </div><!-- end section -->
                <div class="section">
                    <label class="field prepend-icon">
                        <input type="text" name="time" id="tel" class="gui-input" placeholder="В какое время лучше позвонить?">
                        <span class="field-icon"><i class="fa fa-lightbulb-o"></i></span>
                    </label>
                </div><!-- end section -->

                <div class="section">
                    <label class="field prepend-icon">
                        <textarea class="gui-textarea" id="comment" name="comment" placeholder="Опишите проблему"></textarea>
                        <span class="field-icon"><i class="fa fa-comments"></i></span>
                        <span class="input-hint"> <strong>Ваш вопрос/</strong>описание проблемы</span>
                    </label>
                </div><!-- end section -->

                <div class="section">
                    <label class="field prepend-icon">
                        <input type="file" name="file" id="file" >
                        <span class="field-icon"><i class="fa fa-lightbulb-o"></i></span>
                    </label>
                </div><!-- end section -->

                <div class="section">
                    <div class="smart-widget sm-left sml-80">
                        <label class="field prepend-icon">
                            <input type="text" name="verify" id="verify" class="gui-input" placeholder="Введите ответ">
                            <span class="field-icon"><i class="fa fa-shield"></i></span>
                        </label>
                        <label for="verify" class="button">4 + 12</label>
                    </div><!-- end .smart-widget section -->
                </div><!-- end section -->

                <div class="section">
                    <label class="option">
                        <input type="checkbox" name="check1">
                        <span class="checkbox"></span>Согласие на обработку <a href="#">персональных данных</a>
                    </label>
                </div><!-- end section -->

            </div><!-- end .form-body section -->
            <div class="form-footer">
                <button type="submit" class="button btn-primary">Отправить</button>
            </div><!-- end .form-footer section -->
        </form>

    </div><!-- end .smart-forms section -->
</div><!-- end .smart-wrap section -->
