*
	min-width: 0;
	min-height: 0;
	box-sizing: border-box;

html
	box-sizing border-box
	background #fff 
	font 16px Roboto, sans-serif
	font-weight: 300
	color #fff
	overflow-x: hidden;


body
	overflow-x: hidden;
img
	width: 100%

.container
	width 960px
	padding 0 10px
	margin 0 auto
	@media (max-width 992px)
		width: 750px
	@media (max-width 765px)
		width: auto
header
	//margin-bottom:100px
	width: 100%
	position: fixed
	z-index 30
	@media (max-width 992px)
		position: relative
	@media (max-width 765px)
		background: #000
.head-flex
	display flex
	justify-content space-between
	padding: 0 40px
	position: relative
	@media (max-width 1032px )
		justify-content: center
	@media (min-width 1524px)
		padding: 0 160px
	@media (min-width 1900px)
		padding: 0 350px
	@media (max-width 992px)
		padding: 0
	nav
		@media (max-width 992px)
			width: 100%

.start-block
	background url("../img/6.jpg") repeat fixed
	background-size cover
	color #fff
	padding-top: 20px
	text-align: center
	padding-bottom: 1px
	.container
		margin-top: 180px
	@media (max-width 992px)
		padding-top: 0
		background url("../img/6.jpg") no-repeat center center
		background-size cover
.block-2
	background blue url("../img/5.jpg") repeat fixed
	background-size cover
	padding-bottom: 1px
	padding-top: 20px
.block-3
	background blue url("../img/3.jpg") repeat fixed
	background-size cover
	padding-bottom: 30px
	padding-top: 20px
.block-4
	background blue url("../img/1.jpg") repeat fixed
	background-size cover
	padding-bottom: 30px
	padding-top: 20px
.block-5
	background blue url("../img/8.jpg") repeat fixed
	min-height 500px
	background-size cover
	padding-bottom: 30px
	padding-top: 20px
.block-6
	background #fff
	min-height 200px
	padding-top: 20px
	padding-bottom: 20px
.block-7
	background blue url("../img/9.jpg") repeat fixed
	min-height 200px
	padding-top: 20px
	padding-bottom: 30px
.main-footer
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	min-height 88px
	background #151515
	padding-bottom: 1px
	align-items center

//ELEMENTS
.logo
	width: 150px
	background: #f9c438
	transform: skew(35deg, 0deg);
	min-height 80px
	border-radius 5px
	padding-top: 10px
	margin-right: 10px
	box-shadow: 0px 0px 20px 0px rgba(249,196,56,0.5);
	&:hover
		background #8b6500
	@media (max-width 1285px)
		display: none
	img
		width: 40%
		transform: skew(-35deg, 0deg);

.nav
	display: inline-block
	background #000
	transform: skew(35deg, 0deg);
	border-radius 5px
	margin: 0
	padding: 0
	list-style none
	text-align left
	padding-left: 20px
	font-size 14px
	overflow: hidden
	box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.5);
	@media (max-width 1130px)
		font-size 11px
	@media (max-width 992px)
		display: flex
		justify-content: space-between
		font-size 15px
		transform none
		border-radius 0
		padding-left: 0
	@media (max-width 765px)
		display: none
		box-shadow none
		position: absolute
		width: 100%
	li
		transform: skew(-35deg, 0deg)
		display: inline-block
		border-bottom 2px solid transparent
		padding-bottom: 0
		@media (max-width 992px)
			transform none
		@media (max-width 765px)
			display: block
			border-color #f9c438
		&:last-child
			position: relative
			padding-left: 10px
			vertical-align: top
			@media (max-width 992px)
				display: none
			a
				padding-top: 10px
				padding-bottom: 0
			&:hover
				border-color transparent
			&:active
				background: #000
		&:hover
			border-color #f9c438
	a.nav-items
		text-decoration: none
		color #fff
		display: block
		padding 20px 20px
		padding-bottom 18px
		transition 0.2s
		@media (max-width 992px)
			padding: 25px 10px
		@media (max-width 992px)
			padding: 15px 20px
.mobile-logo
	display: none
	@media (max-width 765px)
		display: block
		position: absolute
		color #fff
		font-size 32px
		line-height 42px
.toggle
	display: block

//HEADER END

//START  BLOCK

.start-block
	h1
		font-size 72px
		line-height 110px
		margin-bottom: 150px
		font-weight: 100
		@media (max-width 992px)
			font-size 56px
			line-height 72px
	h2
		font-size 36px
		line-height 42px
		font-weight: 100
		margin-bottom: 150px

.headline
	font-size 54px
	line-height 64px
	text-align: center
	color #f8c12c
	font-weight: 100
	margin-bottom: 40px
	padding 0 120px
	@media (max-width 992px)
		font-size 38px
		line-height 46px

//second block
.btn
	outline none
	border none
	background: linear-gradient(to bottom, #f9c438 0%, #f5bf39 26%, #f3bd37 29%, #eeb738 50%, #ecb534 55%, #e1a932 100%)
	width: 100%
	min-height 40px
	line-height: 32px;
	font-size: 24px;
	text-decoration: none;
	text-align: center;
	color: #293234;
	border-color: #fac53a;
	border-radius: 5px;
	box-shadow: 0px 0px 20px 0px rgba(249,196,56,0.5);
	&:hover
		background: linear-gradient(to bottom, #ffd97a 0%, #fcd877 18%, #fed470 30%, #facb63 61%, #f8c75e 68%, #f5c153 100%)
.areas
	display flex
	justify-content space-between
	flex-wrap wrap
	margin-bottom: 70px
	.areas-item
		min-height 200px
		width: 20%
	img
		width:100%
		margin-bottom: 40px
	p
		margin: 0
		margin-bottom: 40px
		padding: 10px
		text-align: center
		font-size 18px
		line-height 26px
		@media (max-width 992px)
			padding: 0

.areas-slider
	margin-bottom: 50px
	display block
	.areas-item
		display: inline-block
		min-height 200px
		width: 20%
	img
		width: 180px
	p
		width: 180px
		margin: 0
		margin-bottom: 10px
		padding: 10px
		text-align: center
.cta
	p
		padding: 0 70px
		text-align: center
		font-size: 18px
		line-height: 28px
		margin-bottom: 20px
.btn-cta
	width: 70%
	margin: 0 15%
	padding: 10px 0

//block-4

.advantages-flex
	display: flex
	justify-content: space-between
	flex-wrap wrap
.advantage-item
	width: 50%
	padding: 20px
	h3
		font-size 24px
		line-height 36px
		font-weight: 600
		color #fff


.block-6
	.headline
		color #000
		font-size 42px
		line-height 51px
		margin-bottom: 30px

.contacts-flex
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	.left
		width: 50%
	.right
		width: 50%
		padding-left: 100px
		padding-top: 30px
	p
		margin-top: 0
		padding-top: 0
		margin-bottom: 40px
		font-size 18px
		line-height 24px
		position: relative
		&:before
			position: absolute
			content " "
			background url("../img/home.png")
			background-size: cover
			width: 40px
			height: 40px
			top: -10px
			left: -60px
	.phone
		&:before
			background url("../img/phone.png")
			background-size: cover
			top: 3px
			left: -60px
	.geo
		&:before
			background url("../img/geo.png")
			background-size: cover
			top: 3px
			left: -60px
	.mail
		&:before
			background url("../img/mail.png")
			background-size: cover
	.forward
		&:before
			background url("../img/forward.png")
			background-size: cover

.main-footer
	padding: 20px
	line-height 28px
	a
		display: block
		font-weight: 100