<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>Сатурн</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="style/main.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
</head>
<body>

<section class="start-block">
    <header>
        <div class="head-flex">
            <a href="#"><div class="logo"><img src="img/logo.png" alt=""></div></a>
            <nav>
                <ul class="nav">
                    <li><a class="nav-items" href="#">Области применения</a></li>
                    <li><a class="nav-items" href="#">Преемущества</a></li>
                    <li><a class="nav-items" href="#">Частые вопросы</a></li>
                    <li><a class="nav-items" href="#">Контакты</a></li>
                    <li><a class="nav-items" href="#">Изготовление деталей</a></li>
                    <li><a href="tel:+79823050216" class="nav-items">+7 (982) 305-02-16 <br>Бесплатная консультация</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Ремонт промышленного оборудования с гарантией</h1>
        <h2>Уникальная технология, не имеющая аналогов на рынке</h2>
    </div>
</section>

<section class="block-2">
    <div class="container">
        <h2 class="headline">Области применения</h2>
        <div class="areas">
            <div class="areas-item">
                <p>Горнодобывающая промышленность</p>
                <img src="img/item.jpg" alt="">
                <button class="btn">Примеры</button>
            </div>
            <div class="areas-item">
                <p>Нефтедобыча и нефтепереработка</p>
                <img src="img/item.jpg" alt="">
                <button class="btn">Примеры</button>
            </div>
            <div class="areas-item">
                <p>Энергетическая промышленность</p>
                <img src="img/item.jpg" alt="">
                <button class="btn">Примеры</button>
            </div>
            <div class="areas-item">
                <p>Автотранспорт и спецтехника</p>
                <img src="img/item.jpg" alt="">
                <button class="btn">Примеры</button>
            </div>
        </div>
    </div>
</section>
<section class="block-3">
    <div class="container">
        <h2 class="headline">Основные дефекты, которые мы устраняем</h2>
        <div class="areas-slider">
            <div class="areas-item">
                <a href="#"><img src="img/item.jpg" alt=""></a>
                <p>Износ металла</p>
            </div>
            <div class="areas-item">
                <img src="img/item2.jpg" alt="">
                <p>Задиры</p>
            </div>
            <div class="areas-item">
                <img src="img/item3.jpg" alt="">
                <p>Трещины</p>
            </div>
            <div class="areas-item">
                <img src="img/item4.jpg" alt="">
                <p>Раковины</p>
            </div>
            <div class="areas-item">
                <img src="img/item5.jpg" alt="">
                <p>Биение в корпусе</p>
            </div>
            <div class="areas-item">
                <img src="img/item.jpg" alt="">
                <p>Течь</p>
            </div>
        </div>
    </div>
</section>
<footer class="main-footer">
    <div class="container blur-footer">

    </div>
</footer>
<script src="js/scripts.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>