<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>Сатурн</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="style/main.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

</head>
<body>

<header>
    <div class="container head-flex">
        <div class="logo">logo</div>
        <div class="nav">nav</div>
        <div class="contacts">form</div>
    </div>
</header>

<div class="start-block">
    <div class="container">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis incidunt iusto nihil! Atque delectus esse iure maiores voluptatem. Corporis culpa cumque ipsam laboriosam magnam nam quibusdam quo rem voluptas?
    </div>
</div>

<div  class="block-2">
    <div class="container">

    </div>
</div>

<footer class="main-footer">
    <div class="container blur-footer">

    </div>
</footer>
<script src="js/scripts.js"></script>
</body>
</html>