<!DOCTYPE html>
<html lang="ru">
{%  include 'partials/head.twig' %}
<body id="scroll">
{% include 'partials/smart-form.twig' %}
<section class="start-block">
{% include 'partials/header.twig' %}
    <div class="container">
        <h1>Ремонт оборудования и спецтехники с применением полимерных композитных материалов.</h1>
        <h2>Мы не рекламируем, мы гарантируем.</h2>
    </div>
</section>

<section class="block-2">
    <div class="container">
        <h2 class="headline">Области применения</h2>
        <div class="areas">
            <div class="areas-item">
                <p>Горнодобывающая промышленность</p>
                <img src="/img/oil.png" alt="">
                <button class="btn">Примеры</button>
            </div>
            <div class="areas-item">
                <p>Нефтедобыча и нефтепереработка</p>
                <img src="/img/mount.png" alt="">
                <button class="btn">Примеры</button>
            </div>
            <div class="areas-item">
                <p>Энергетическая промышленность</p>
                <img src="/img/energy.png" alt="">
                <button class="btn">Примеры</button>
            </div>
            <div class="areas-item">
                <p>Автотранспорт и спецтехника</p>
                <img src="/img/car.png" alt="">
                <button class="btn">Примеры</button>
            </div>
        </div>
    </div>
</section>
<section class="block-3">
    <div class="container">
        <h2 class="headline">Основные дефекты, которые мы устраняем</h2>
        <div class="areas-slider">
            <div class="areas-item">
                <a data-fancybox="gallery" href="/img/1.jpg"><img src="/img/item.jpg" alt=""></a>
                <p>Износ металла</p>
            </div>
            <div class="areas-item">
                <a data-fancybox="gallery" href="/img/1.jpg"><img src="/img/item2.jpg" alt=""></a>
                <p>Задиры</p>
            </div>
            <div class="areas-item">
                <a data-fancybox="gallery" href="/img/1.jpg"><img src="/img/item3.jpg" alt=""></a>
                <p>Трещины</p>
            </div>
            <div class="areas-item">
                <a data-fancybox="gallery" href="/img/1.jpg"><img src="/img/item4.jpg" alt=""></a>
                <p>Раковины</p>
            </div>
            <div class="areas-item">
                <a data-fancybox="gallery" href="/img/1.jpg"><img src="/img/item5.jpg" alt=""></a>
                <p>Биение в корпусе</p>
            </div>
            <div class="areas-item">
                <a data-fancybox="gallery" href="/img/1.jpg"><img src="/img/item6.jpg" alt=""></a>
                <p>Течь</p>
            </div>
        </div>
        <div class="cta">
            <p>Чтобы точнее оценить вид и сложность ремонта оборудования, предлагаем Вам оставить заявку на бесплатную консультацию нашего специалиста. Опишите проблему, прикрепите фото(если есть), оставьте свои контактные данные и мы незамедлительно свяжемся с вами!</p>
            <button data-fancybox data-src="#hidden-content-a" href="javascript:;" class="btn btn-cta">Рассчитать стоимость ремонта</button>
        </div>
    </div>
</section>
<section class="block-4" id="avantages">
    <div class="container">
        <h2 class="headline">Наши преимущества</h2>
        <div class="advantages-flex">
            <div class="advantage-item">
                <h3>1. Материал собственной разработки</h3>
                <p>У всех композитных полимеров, представленных на рынке, есть общие недостатки, поэтому, нами было принято решение о собственной разработке. В результате работы НИИ и специалистов, имеющих глубокие знания в данной области, нам удалось превзойти по техническим характеристикам все существующие аналоги. [Отчёт о проведённых исследованиях]</p>
            </div>
            <div class="advantage-item">
                <h3>2. Индивидуальная модификация полимера</h3>
                <p>Под каждый вид работ мы модифицируем полимер в зависимости от условий эксплуатации (местонахождение объекта, нагрузочные и температурные режимы).</p>
            </div>
            <div class="advantage-item">
                <h3>3. Скорость и удобство ремонта</h3>
                <p>Большинство работ проводятся в течение рабочей смены и без демонтажа оборудования</p>
            </div>
            <div class="advantage-item">
                <h3>4. Увеличение ресурса оборудования</h3>
                <p>Наша технология устойчива к ударным и вибрационным нагрузкам (в отличие от большинства полимеров). Также, ремонт производится без термообработки, чтобы избежать изменения структуры металла (например, микротрещин на чугуне).</p>
            </div>
            <div class="advantage-item">
                <h3>5. Подходит для любых металлов</h3>
                <p>Работы проводятся с любыми металлами и сплавами (чугун, сталь, цветные металлы, алюминиево-магниевые и т.д.), а также пластиком.</p>
            </div>
            <div class="advantage-item">
                <h3>6. Гарантия на все виды работ</h3>
                <p>Мы уверены в качестве наших материалов, поэтому даём гарантию на все виды ремонта 12 месяцев
                </p>
            </div>
        </div>
    </div>
</section>
<section class="block-5 ac-container" id="questions">
    <div class="container">
        <h2 class="headline">Ответы на частые вопросы</h2>
        <div>
            <input id="ac-1" name="accordion-1" type="radio" checked />
            <label for="ac-1">В чем преимущество данного метода перед наплавкой металла?</label>
            <article>
                <p>Наш метод лишен тех недостатков, которые присущи наплавке металла, а именно:</p>
                <ul>
                    <li>При наплавке происходит термообработка металла, что приводит к изменению его структуры и свойств (особенно это актуально для чугуна), и, как следствие, зачастую образуются микротрещины, которые приводят к облому (вала оси и т.д.), а так же к протечкам технологических жидкостей и разрушению корпусов. </li>
                    <li>Часть металлов не поддается наплавке и напылению.</li>
                    <li>Наплавка и напыление - более долгий и дорогостоящий метод.</li>
                    <li>При ремонте с помощью наплавки и напыления необходима установка специального оборудования и зачастую приходится демонтировать узел. Наш метод в большинстве случаев позволяет обойтись без разбора оборудования.</li>
                </ul>
            </article>
        </div>
        <div>
            <input id="ac-2" name="accordion-1" type="radio" />
            <label for="ac-2">Есть ли какое-то подтверждение эффективности вашего материала?</label>
            <article>
                    <p>В содружестве с научно-исследовательским  центром  под руководством специалистов, имеющих глубокие знания в данной области, нами были проведены модификации базовых материалов компании «ЗМ», которые  существенно улучшили технические параметры полимера.  С характеристиками модифицированного полимерно-композитного метериала можно ознакомиться
                    <a href="#">по ссылке.</a> По запросу, готовы предоставить отчеты о проведенных лабораторных исследованиях.</p>
            </article>
        </div>
        <div>
            <input id="ac-3" name="accordion-1" type="radio" />
            <label for="ac-3">Как происходит ремонт оборудования?</label>
            <article>
                <p>Перед началом работ мы проводим необходимые модификации материала, в зависимости от условий эксплуатации (местонахождение объекта, нагрузочные и температурные режимы). Наши специалиты выезжают на объект заказчика, обрабатывают поврежденную поверхность и восстанавливают первоначальную геометрию узла. Запуск в работу оборудования допустим спустя 24 часа после ремонта. Для более подробной информации рекомендуем Вам воспользоваться нашей бесплатной консультацией, заполнив
                    <a href="#">форму обратной связи</a> или позвонив по телефону +7 (922) 735-59-22</p>
            </article>
        </div>
        <button data-fancybox data-src="#hidden-content-a" href="javascript:;" class="btn btn-cta">Рассчитать стоимость ремонта</button>
    </div>
</section>
<section class="block-6">
    <div class="container">
        <h2 class="headline">Наши партрены</h2>
        <div class="partners-slider">
            <div class="partners-item">
                <img src="/img/part1.png" alt="">
                <p>Износ металла</p>
            </div>
            <div class="partners-item">
                <img src="/img/part2.png" alt="">
                <p>Износ металла</p>
            </div>
            <div class="partners-item">
                <img src="/img/part3.png" alt="">
                <p>Износ металла</p>
            </div>
            <div class="partners-item">
                <img src="/img/part4.png" alt="">
                <p>Износ металла</p>
            </div>
            <div class="partners-item">
                <img src="/img/part5.png" alt="">
                <p>Износ металла</p>
            </div>
            <div class="partners-item">
                <img src="/img/part6.png" alt="">
                <p>Износ металла</p>
            </div>
        </div>
    </div>
</section>
{% include 'partials/contacts.twig' %}
{% include 'partials/footer.twig' %}
{% include 'partials/vendor.twig' %}
</body>
</html>