<!DOCTYPE html>
<html lang="ru">
{% include 'partials/head.twig' %}
<body id="scroll">
{% include 'partials/smart-form.twig' %}
<section class="user-block">
    {% include 'partials/header.twig' %}
    <div class="container">
        <h1>Заголовок страницы (изготовление деталей на заказ, крема и т.д.</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="#1">Главная</a></li>
                <li><a href="#2">Продукция</a></li>
                <li><a href="#3">Название страницы</a></li>
            </ul>
        </div>
        <div class="user-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
            <img src="http://via.placeholder.com/350x150" alt="" style="float:left">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
            <img src="http://via.placeholder.com/200x250" alt="" style="float:right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laboriosam, voluptas. Accusamus adipisci aliquam, asperiores assumenda consectetur cumque ea est ex harum hic odio possimus praesentium provident qui saepe, veniam?</p>
        </div>
    </div>
</section>

{% include 'partials/contacts.twig' %}
{% include 'partials/footer.twig' %}
{% include 'partials/vendor.twig' %}
</body>
</html>